@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto:wght@300;700&display=swap');


body{
    font-family: "Montserrat", Sans-serif;
    margin: 0%;
}

/*HEADER*/


.fas.fa-shopping-basket{
    position: absolute;
    left: 95%;
    top: 57px;
}

.far.fa-user-circle{
    position: absolute;
    left: 86%;
    top: 57px;
    cursor: pointer;
}

.far.fa-address-card{
    position: absolute;
    left: 77%;
    top: 57px;
    cursor: pointer;
    font-size: 17px;
}

.fas.fa-shopping-basket:hover, .far.fa-user-circle:hover, .far.fa-address-card:hover  {
    font-size: 25px;
}


.promociones{
    background-color: antiquewhite;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px;
}



.logo-img{
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo-img .logo{
    width: 25%;
    height: 10%;
    }


.flexsearch--form{
    display: flex;
    justify-content: center;
    
}
.flexsearch--input, .flexsearch--submit{
    background-color: #FFFDD0; 
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(67,67,67,0.3);
    
}
 
.flexsearch--input{
    width: 30vw;
}


.categorias{
    display: none;
}

.burger-menu {
    text-align: center;
    color: black;
    line-height: 60px;
}

.fas.fa-bars {
    background-color: #ffccf799;
    padding: 10px;
    border-radius: 6px;
}
.img_user{
    position: absolute;
    left: 95%;
    top: 57px;
}
.img_1{
    width: 30px;
    border-radius:40px;
    display: flex;
    justify-content: center
}
.logout{
    position: absolute;
    left: 87%;
    top: 57px;
}

@media(min-width: 576px){

    .linea{
        display: block;
    }
    
        .informacion{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            height: 206px;
        }
        
    .far.fa-user-circle{
        left: 90%
    }
    
    .far.fa-address-card{
        left: 84%;
    }
    
    .burger-menu {
        display: none;
    } 
    
    .categorias{
        display: flex;
        justify-content:space-evenly;
        padding: 10px;
        font-size: 13px;
    }
    
}