<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="css/cart.css">
    <title>HANGAR</title>
</head>

<body>

    <%- include ('./partials/header.ejs') %>
 
    <section>
        <div style="max-width: 100vw; overflow: auto">  
        <table id="tabla">
            <tr id="tablacabecera">
                
                <th>
                   Foto 
                </th>

                <th>
                    Producto 
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Subtotal
                </th>
            </tr>

            
            <tbody>
                <th>
                    <img src="/imagenes/MESACOMEDOR.JPG" alt="mesa" width="200">
                </th>
                <th>
                Mesa de comedor    
                </th>
                <th>
                $125.000
                </th>
                <th>
                    <input type="number" value="1">
                </th>
                <th>
                    $125.000
                </th>
            </tbody>
        </table>
    </div>
        <div id="buttons-container">
            <button>
                Código de cupon
            </button>
            <button>
                Aplicar cupon
            </button>
            <button>
                Actualizar carrito 
            </button>
        </div>
        <div id="refresh-cart">
            <i class="fa-regular fa-circle-check"></i>
            Carrito actualizado
        </div>

        <div class="total-cart">
            <section id="total">
            Total del carrito
            </section>
<table id="precios-envio">
    <tbody>
        <tr>
            <td>
Total parcial
            </td>
            <td>
$125.000
            </td>
        </tr>
         <tr>
            <td>
Envio
            </td>
            <td class="padding">
                Acordar Envio <br> las actualizaciones de envio se actualizaran durante el pago. <br><br>
              Calcular envío
            </td>
        </tr>
          <tr>
            <td>
Total 
            </td>
            <td>
$125.000
            </td>
        </tr>
    </tbody>
    </table>
   

            <section id="regalo">
           <div>
            ¿Tienes una tarjeta de regalo?
           </div>
           <div>
        <button>
            Número de la tarjeta de regalo
        </button>
        <button>
            Aplicar
        </button>
                  
        <button>
            Finalizar compra
        </button>
           </div>
 
           
            </section>

        </div>
    </section>

    <%- include ('./partials/footer.ejs') %>

   
</body>

</html>