<footer class="pie">
    <div class="informacion">


        <div class="info-flex">
            <h4>INFORMACION</h4>
            <a href="/preguntasFrecuentes">
                <p class="piePag"> Preguntas frecuentes </p>
            </a>
            <a href="/Cambios">
                <p class="piePag"> Cambios y devoluciones </p>
            </a>
            <a href="/envios">
                <p class="piePag"> Envios </p>
            </a>
        </div>




        <div class="contacto-flex">
            <h4>CONTACTO</h4>
            <a href="/info">
                <p class="piePag"><i class="fas fa-map-marker-alt"></i> Ubicacion </p>
            </a>
            <a href="/info">
                <p class="piePag"> <i class="fab fa-whatsapp"></i> Telefono </p>
            </a>
            <a href="/info">
                <p class="piePag"> <i class="far fa-envelope"></i> Email </p>
            </a>
        </div>


        <div class="new-flex">
            <h4>NEWSLETTER</h4>
            <h6 class="newsletter"> Suscribite para recibir novedades!</h6>
            <form action="/" method="get">
                <input class="suscribite" type="email" name="email" placeholder="ejemplo@gmail.com">
                <button class="suscrib" type="submit"> Suscribirse </button>

            </form>
        </div>

        <div class="redes-flex">
            <h4>NUESTRAS REDES</h4>
            <a href="http://facebook.com"> <i class="fab fa-facebook-square"></i> </a>
            <a href="http://instagram.com"> <i class="fab fa-instagram"></i> </a>
        </div>

    </div>
    <div class="copyright">
        <p> Copyright © 2022 Hangar - Home & Deco. </p>
    </div>

</footer>

